<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>
</head>
<body class="container">

<header>
    Grow Test - Backend with SWAPI API
</header>

<main>
    <h1><%= name %></h1>
    <h2><%= gender %></h2>
    <h2>Born: <%= birth_year %></h2>
    <ul>
        <li>Hair Color: <%= hair_color %></li>
        <li>Eye Color: <%= eye_color %></li>
        <li>Skin Color: <%= skin_color %></li>
    </ul>
    
    <a href="/">Back to Home</a>
    
</main>

</body>
</html>